<mat-toolbar color="primary">
  Full stack developer challenge
</mat-toolbar>

<main>
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <mat-form-field>
        <input type="text" matInput placeholder="URL" #url formControlName="url">
        <mat-hint>What you use to go to a website</mat-hint>
        <mat-error *ngIf="!form.controls['url'].valid && form.controls['url'].touched">
          {{ getErrorPassword() }}
        </mat-error>
      </mat-form-field>
      <div class="example-button-row">
        <button mat-raised-button color="accent" style="display:inline; width:40%;">
          Clear
        </button>
        <button mat-raised-button color="primary" style="display:inline; width:40%;">
          Save
        </button>
      </div>
    </form >
  </mat-card>

  <pre>{{ result | json}}</pre>

</main>
